
# Telegram
TELEGRAM_API_ID=your_telegram_api_id
TELEGRAM_API_HASH=your_telegram_api_hash
TELEGRAM_PHONE_NUMBER=your_phone_number
TELEGRAM_SESSION_NAME=tg_monitor_session_new
TELEGRAM_STRING_SESSION=your_string_session  # Получите это из gen_session.py
TELEGRAM_BOT_TOKEN=your_bot_token

# Groq AI
GROQ_API_KEY=your_groq_api_key
AI_ENABLED=false

# Web Panel
WEB_HOST=0.0.0.0
WEB_PORT=8000
